.vModal {
  display: flex;
  flex-direction: column;
  background: skyblue;
  width: 400px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px 20px;
}

.closeMarker {
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: space-between;
}

.vModal .closeButton {
  margin-left: auto;
}
