* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab {
  display: flex;
}

.tab li {
  padding: 10px;
  border: 1px solid black;
  /* border-right: 0 none; */
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.tab li:hover {
  background: lightblue;
}

.content {
  width: 500px;
  height: 300px;
  background: lightblue;
}

.active {
  background: blueviolet;
  border-bottom: 0 none;
}
