.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: lightgray; */
}

.closeMarker {
  cursor: pointer;
  font-size: 30px;
}

.btns {
  display: flex;
  gap: 10px;
}

.app {
  height: 100vh;
}

.parentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightgray;
}

.blurred {
  filter: blur(6px);
  transition: filter 0.3s ease;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 */
  /* 클릭, 드래그 등 모든 마우스 이벤트 차단 */
  /* pointer-events: none;  */
  cursor: not-allowed;
}
